.shareIconDiv{
    display: flex;
    position: absolute;
    top: 12px;
    right: 40px;
}
.avatar {
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.avatarDiv{
    padding: 40px 0 0;
    width: 100px;
    height: 180px;
    margin: 0 auto;
}
#profile__img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
}


@media (min-width: 640px){
    .shareIconDiv{
        position: absolute;
        right: 500px;
    }
}